body{
    background:lightgray;
}

.post{
    height: 500px;
    width: 403px;
    background: white;
    margin: auto;
    margin-top: 50px;
}

.post-header{
    height: 57px;
    width: 399px;
    background: white;
    display: flex;
}

.profile{
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.post-title{
    font-size: 0.9rem;
    font-weight: bold;
    margin-bottom: 0%;
    align-items: center;
    margin-left: 5px;
}

.post-name{
    font-size: 0.85rem;
    align-items: center;
    margin-left: 5px;
}

.post-options{
    display: flex;
    align-items: center;
    margin-left: 17px;
}

.icon{
    height: 40px;
    width: 399px;
    background: white;
    display: flex;
}

.icon-figure{
    display: flex;
    align-items: center;
    margin-top: 1px;
    margin-left: 7px;
}

.icon-save{
    display:flex;
    align-items: center;
    margin-top: 1px;
    margin-left: 17px;
}

.likes{
    font-size: 0.80rem;
    align-items: center;
    margin-left: 7px;
    margin-bottom: 7px;
}

.description{
    height: 57px;
    width: 390px;
    font-size: 0.80rem;
    align-items: center;
    margin-left: 7px;
    margin-right: 7px;
}